<!DOCTYPE html>
<html>
  <head>
    <title>Homemadefood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
